
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>Index</h2>

<p id="demo">Dawaj</p>

<button type="button"
    onclick="document.getElementById('demo').style.display = 'none';">Click me!
</button>    

<div ng-app="" ng-init="firstName='John'">

    <p>The name is <span ng-bind="firstName"></span></p>

</div>

