@using Vidly.ViewModels;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>


<table class="table table-bordered table-hover">
    <tr>
        <th>Movies</th>
        <th>Genre</th>
    </tr>
      
    @foreach (var Mov in Model)
    {
        string s = Mov.Name;
        <tr>
            <td> @Html.ActionLink(s, "Edit", "Movies", new { Id = Mov.Id }, null)</td>
            <td> @Mov.Genre.Discribe</td>
        </tr>
    }
        
</table>
