@using Vidly.ViewModels;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


  <h2>Customers:</h2>

  <table style="width:100%">
      <tr>
          <th>Customer</th>
      </tr>
        
      @foreach (var customer in Model)
      {
          string s = customer.Name;
          <tr>
              <td> @Html.ActionLink(s, "Details", "Customers",new { Id=customer.Id }, null)  </td>
          </tr>
      }
  </table>



